<div>
<h3 style="text-align: center">ROOP RANJAN KHAN</h3>
  <h6 align="center">https://bitbucket.org/roopranjankhan/</h6>
  <br><br> <h5 align="center">EXPERIENCE</h5>
  <h6 style="margin-left: 290px">11/12/2018 - 10/04/2020  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;WEB ANALYST</h6>
  <h6 align="center" style="color: darkslategray">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VEGAN SOLUTIONS, TALLINN, ESTONIA</h6>
  <br><br><h5 align="center">TECHNICAL TRAINING</h5>
  <h6 style="margin-left: 290px">06/07/2019 - 01/03/2020       &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FULL STACK (JAVA) SOFTWARE DEVELOPMENT</h6>
  <h6 align="center" style="color: darkslategray">SOFTWARE DEVELOPMENT ACADEMY, TALLINN, ESTONIA</h6>
  <br><br><h5 align="center">EDUCATION</h5>
  <h6 style="margin-left: 290px">03/09/2016 - 07/06/2019       &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BACHELOR OF SCIENCE (BSc), INTEGRATED ENGINEERING</h6>
  <h6 align="center" style="color: darkslategray">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TALLINN UNIVERSITY OF TECHNOLOGY, TALLINN, ESTONIA</h6>
 <br><br> <h5 align="center">SKILLS</h5>
  <h6 style="margin-left: 390px">Java, Hibernate, SpringBoot, Databases, SQL, JavaFX, Angular, Typescript, HTML, CSS, JS, JUnit, Mockito, Git</h6>
</div>
