<p style="font-size: 20px" class="font-italic">
<br><br>
  I would like to define myself as a person, with high expectations from life. There are numerous goals that I want to fulfill and I try to work as hard as possible to transform them into reality.
  <br><br>
  In 2016, I decided to open a new chapter of my life in Tallinn as a student. Estonia belonging to one of the baltic states and home to Skype (the famous video conferencing application) is one of the most
  innovative places, I have been to. This chapter of my life was getting interesting every single day. I have experienced some amazing things, made great friends. My thought process has changed completely to what it was before coming here.
  This is one of those moments which I will never forget the rest of my life. The memories will always be there forever, and nothing can get better than this. Estonia is one of those countries which loves technology, it boasts about being
  startup hub. Companies can be opened online within few minutes, thanks to digital innovations that it strives to achieve. <br> <br>

  The passion towards computers developed within few months of living in Estonia. After completing my undergrad, I started developing an interest towards computers. Certainly, had some experience with programming during my bachelors, but as I started working in a software firm,
  I found out that technology is so amazing. For example, the piece of device that we carry in our pocket is such an astonishing innovation, and the work put into it by developers is simply remarkable.
  After few months of working in the company, alongside I decided to step up my level and decided to join a bootcamp on weekends. Obviously, it wasn't easy to manage work and bootcamp, but it was worth the effort. Fast forward, after few weeks at the bootcamp, I realized that software development has advanced
  to a huge level compared to what it was 10 years ago. Things, become so interesting that I wanted to learn more and more and more. <br> <br>

  Five and a half months in, and I am already able to create basic applications. It is indeed very rewarding, if we create something by ourselves. Learning how to use frameworks and libraries looks so out of the world,
  but believe me it is as easy as learning english alphabets. To be honest, Angular and Spring are one of my favourites because of the fact that these two platforms makes coding easy peezy. Practice has been the key to growth, as it helps to master important concepts which I will be using everywhere.

  <br><br>

  Lastly, I have never stopped learning, my interests are expanding with time but the one thing that keeps me going is coding.

</p>
