<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<a style="color: black;font-size: 30px;margin-left: 1085px;padding-top: 15px" class="fa fa-linkedin-square" href="https://www.linkedin.com/in/roop-ranjan-khan-234a9014b"></a>
<a style="color: black;font-size: 30px;margin-left: 65px;padding-top: 15px" class="fa fa-bitbucket-square" href="https://www.bitbucket.org/roopranjankhan/"></a>

<a style="color: black;font-size: 25px;margin-left: 65px;padding-top: 15px" routerLink="/cv" (click)="changeSelectedPageMenuColour('CV')" [class.selectedColour] = "selectedPage == 'cv'"
 class="fa fa-user"></a>

<a style="color: black;font-size: 25px;margin-left: 65px;padding-top: 15px" routerLink="/about" (click)="changeSelectedPageMenuColour('ABOUT')" [class.selectedColour] = "selectedPage == 'about'"
 class="fa fa-book"></a>

