<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="pic">
  <h1 style="color: white;font-size: 80px;margin-left: 85px;padding-top: 65px">WELCOME</h1>
  <h1 style="color: white;font-size: 80px;margin-left: 85px;padding-top: 15px">TO</h1>
  <h1 style="color: white;font-size: 80px;margin-left: 85px;padding-top: 15px">MY</h1>
  <h1 style="color: white;font-size: 80px;margin-left: 85px;padding-top: 15px">WORLD</h1>
</div>
